.slider {
  width: 60vh;
  height: 40vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%btn-styles {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  background: none;
  border: none;
  transition: 0.5s;
   &:hover {
     background: rgba(0, 0, 0, 0.356);
   }
}

.goLeft {
  left: 0;
  @extend %btn-styles;
}

.arrowLeft {
  transform: rotate(90deg);
}

.goRight {
  right: 0;
  @extend %btn-styles;
}

.arrowRight {
  transform: rotate(-90deg);
}

.image {
  width: 100%;
  height: inherit;
}