.us {
  display: flex;
  background: url(../../../assets/backgrounds/backg1.jpg);
  animation: mover 100s infinite alternate; 
  overflow: hidden;
  height: 100vh;
}

.mainUs {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(130,0,0);
background: radial-gradient(circle, rgba(100,0,0,1) 50%, rgba(0,0,0,1) 100%);
  color: black;
  padding: 40px;
}

.nombreLogo {
  width: 500px;
}

@keyframes mover {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 200px;
  }
}

@media (max-width: 600px) {
  .us {
    height: 100vh;
  }
  .nombreLogo {
    max-width: 250px;
    height: 100px;
  }
}